In [1]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [35]:
ds = pd.read_csv('~/tmp/tempo.csv', sep=';')
ds.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [45]:
ds.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

In [17]:
ds.groupby(['Aparencia']).size()

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

In [16]:
modaAparencia = sts.mode(ds['Aparencia'])
ds.loc[ds['Aparencia']=='menos','Aparencia']=modaAparencia

In [32]:
ds.groupby(['Temperatura']).size()

Temperatura
64.0    1
65.0    1
68.0    1
69.0    1
70.0    1
71.0    1
72.0    1
73.5    1
75.0    2
80.0    1
81.0    1
83.0    1
85.0    1
dtype: int64

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [25]:
medianaTemp = sts.median(ds['Temperatura'])
ds.loc[(ds['Temperatura']>130) | (ds['Temperatura']<-130),'Temperatura']=medianaTemp

In [29]:
ds.groupby(['Umidade']).size()

Umidade
65.0    1
70.0    3
75.0    1
80.0    1
85.0    1
85.5    1
86.0    1
90.0    2
91.0    1
95.0    1
dtype: int64

In [37]:
medianaUmidd = sts.median(ds['Umidade'])
ds.loc[(ds['Umidade']>100) | (ds['Umidade']<0),'Umidade']=medianaUmidd
ds['Umidade'].fillna(medianaUmidd, inplace=True)

In [39]:
ds.groupby(['Jogar']).size()

Jogar
nao    5
sim    9
dtype: int64

In [44]:
ds.groupby(['Vento']).size()

Vento
FALSO         8
VERDADEIRO    6
dtype: int64

In [43]:
modaVento = sts.mode(ds['Vento'])
ds['Vento'].fillna(modaVento,inplace=True)